.profileContainer{
    margin-left: 65px;
    margin-bottom: 50px;
}
.profileDiv{
    padding-top: 40px;
}
.userImageContainer{
    height: 86vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f5f5f5;
    border-radius: 15px;
}
.userImageProfile{
    width: 250px;
    margin-top: 25px;
    margin-bottom: 30px;
    border-radius: 15px;
    
}

.deleteBtn{
    width: 150px;
    margin-right: 20px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color:#952323;
    color: #f5f5f5;
}
.imageBtn{
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color:#203562;
    color: #f5f5f5;
}

.profileInfoDiv{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.btnDiv{
    justify-content: end;
    align-items: end;
    text-align: end;
}

.updateBtn{
    border: none;
    background-color: #203562;
    color: #E3E8F8;
    width: 200px;
    height: 50px;
    border-radius: 5px ;
    margin-right: 50px;
}