.customerAddContainer{
    margin-left: 65px;
  display: flex;
  text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.customerAddDiv{
    padding-top: 50px;
   
    width: 100%;
    
}


.btnDiv{
   
    text-align: end;
}
.resetBtn{
    border: none;
    background-color: #952323;
    color: #E3E8F8 ;
    margin-right: 15px;
    width: 200px;
    height: 50px;
    border-radius: 5px ;
}
.addBtn{
    border: none;
    background-color: #203562;
    color: #E3E8F8;
    width: 200px;
    height: 50px;
    border-radius: 5px ;
}