body {
    overflow: hidden; /* Hide scrollbars */
  }
.registerContainer{
    background-color: #203562;
    height: 100vh;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  
}
.registerDiv{
    width: 800px;
    height: 80vh;
    border: 1px solid black;
    background-color: #ffffff;
    border-radius: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
}
.registerBox{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.brandContainer {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  .brand {
    margin-bottom: 50px;
    color: #203562;
  }
.registerBox{
    width: 700px;
}
.btnDiv{
    text-align: center;
    margin-top: 20px;
}

.addBtn{
    border: none;
    background-color: #203562;
    color: #E3E8F8;
    width: 200px;
    height: 50px;
    border-radius: 5px ;
}